<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car Rental</title>
    <link rel="stylesheet" href="/css/auth-component.css" />
    <link rel="stylesheet" href="/css/rent.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <script src="/js/jwtlib.js"></script>
    <script src="/js/core.js"></script>
</head>


    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)

</html>